.app-wrapper {
  background-color: #98c1d9;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header header"
    "nav content content";
  /*grid-gap: 10px;*/
}

.content {
  grid-area: content;
  height: 100%;
}

.content>div{
  max-width: 90%;
  height: max-content;
  padding-left: 5%;
}
